* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;

    background-image: url('./assets/images/pexels-harrison-candlin-2441454.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Nunito', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoName {
    padding: 0px 7px;
    font-size: 5rem;
    color: rgb(54, 54, 54);
    background: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.63) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 1s;
}
.highlighted {
    background-position: -100%;
    color: rgb(26, 26, 26);
}
.arrow {
    opacity: 100%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    filter: invert(100%);
    user-select: none;
    cursor: pointer;
    transition: transform ease-in 1s;
}

.content {
    background-color: rgba(255, 255, 255, 0.664);
    visibility: visible;
    width: 1000px;
    opacity: 100%;
    text-align: justify;
    padding: 10px 20px;
    font-weight: bolder;
    text-align: center;
    border-radius: 3px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content > p {
    font-size: 0.9em;
}

.projects {
    width: 95%;
    opacity: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;

    flex-wrap: wrap;
}
.project {
    width: fit-content;
    height: 140.25px;
    margin: 10px 10px;

}

.details, .preview {
    width: 281.55px;
    height: 140.25px;
}

.details {
    position: absolute;
    font-weight: bold;
    color: white;
    background-color: rgba(40, 44, 56, 0.521);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.details ul {
    padding: 0;
}
.details li {
    display: inline-block;
    font-size: 0.8em;
}
.details img {
    filter: invert(100%);
}

.page img {
    width: 30px;
    height: 30px;
}

.usedtech li {
    border: 1px solid white;
    padding: 2px 5px;
    border-radius: 5px;
}

.preview {
    visibility: visible;
    opacity: 1;
    background-size: cover;
    box-shadow: 2px 2px 20px 15px rgba(41, 15, 15, 0.103);
}
#pomodoro-timer .preview {
    background-image: url('./assets/images/pomodoropreview.png');
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 2.4em;
    }
    .content {
        width: 80%;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 3.2em;
    }
    .content {
        width: 90%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 3.3em;
    }
    .content {
        width: 750px;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 4em;
    }
    .content {
        width: 800px;
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 4em;
    }
    .content {
        width: 800px;
        font-size: 1.4em;
    }
}
