* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;

    background-image: url('./assets/images/pexels-harrison-candlin-2441454.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    font-family: 'Nunito', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logoName {
    padding: 0px 7px;
    font-size: 5rem;
    color: rgb(54, 54, 54);
    background: linear-gradient(to right, transparent 50%, rgba(255, 255, 255, 0.63) 50%);
    background-position: 0;
    background-size: 200%;
    transition: all 1s;
}
.highlighted {
    background-position: -100%;
    color: rgb(26, 26, 26);
}
.arrow {
    opacity: 100%;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    filter: invert(100%);
    user-select: none;
    cursor: pointer;
    transition: opacity ease-in 0.5s;
}

.content {
    background-color: rgba(255, 255, 255, 0.664);
    visibility: visible;
    width: 1000px;
    opacity: 100%;
    text-align: justify;
    padding: 10px 20px;
    font-weight: bolder;
    text-align: center;
    font-size: 1.5em;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: visibility 0s, opacity 0.5s ease-in-out;
}

.projects {
    background-color: rgb(29, 29, 29);
    color: rgb(160, 152, 152);
    border-radius: 3px;
    width: 40px;
}

.hidden {
    opacity: 0%;
}

.before {
    visibility: hidden;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 2.4em;
    }
    .content {
        width: 80%;
        font-size: 0.9em;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 3.2em;
    }
    .content {
        width: 90%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 3.3em;
    }
    .content {
        width: 750px;
        font-size: 1.2em;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 4em;
    }
    .content {
        width: 800px;
        font-size: 1.4em;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        background-size: cover;
        width: 100vw;
        height: 100vh;
    }
    .logoName {
        font-size: 4em;
    }
    .content {
        width: 800px;
        font-size: 1.4em;
    }
}
